<table style="border: 1px #000000 solid">
	<tbody>
		<tr>
			<td style="border: 1px #000000 solid"> 1x1</td>
			<td style="border: 1px #000000 solid"> 2x1</td>
			<td style="border: 1px #000000 solid"> 3x1</td>
			<td style="border: 1px #000000 solid"> 4x1</td>
			<td style="border: 1px #000000 solid"> 5x1</td>
			<td style="border: 1px #000000 solid"> 6x1</td>
			<td style="border: 1px #000000 solid"> 7x1</td>
			<td style="border: 1px #000000 solid"> 8x1</td>
			<td style="border: 1px #000000 solid"> 9x1</td>
		</tr>
		<tr>
			<td style="border: 1px #000000 solid"> 1x2</td>
			<td style="border: 1px #000000 solid"> 2x2</td>
			<td style="border: 1px #000000 solid"> 3x2</td>
			<td style="border: 1px #000000 solid"> 4x2</td>
			<td style="border: 1px #000000 solid"> 5x2</td>
			<td style="border: 1px #000000 solid"> 6x2</td>
			<td style="border: 1px #000000 solid"> 7x2</td>
			<td style="border: 1px #000000 solid"> 8x2</td>
			<td style="border: 1px #000000 solid"> 9x2</td>
		</tr>
		<tr>
			<td style="border: 1px #000000 solid"> 1x3</td>
			<td style="border: 1px #000000 solid"> 2x3</td>
			<td style="border: 1px #000000 solid"> 3x3</td>
			<td style="border: 1px #000000 solid"> 4x3</td>
			<td style="border: 1px #000000 solid"> 5x3</td>
			<td style="border: 1px #000000 solid"> 6x3</td>
			<td style="border: 1px #000000 solid"> 7x3</td>
			<td style="border: 1px #000000 solid"> 8x3</td>
			<td style="border: 1px #000000 solid"> 9x3</td>
		</tr>
	</tbody>
</table>
<footer input="ngmodel">

</footer>